name: quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8

jobs:

  quality:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: "3.9"

    - name: Make __pypackages__ directory
      run: mkdir __pypackages__

    - name: Install dependencies
      run: pdm install

    - name: Install pre-commit hooks
      run: pdm run pre-commit install

    - name: Run black
      run: pdm run pre-commit run --all-files black

    - name: Run flake8
      run: pdm run pre-commit run --all-files flake8

    - name: Run isort
      run: pdm run pre-commit run --all-files isort

    - name: Run end-of-file-fixer
      run: pdm run pre-commit run --all-files end-of-file-fixer

    - name: Run check-yaml
      run: pdm run pre-commit run --all-files check-yaml

    - name: Run debug-statements
      run: pdm run pre-commit run --all-files debug-statements

    - name: Run name-tests-test
      run: pdm run pre-commit run --all-files name-tests-test

    - name: Run requirements-txt-fixer
      run: pdm run pre-commit run --all-files requirements-txt-fixer

    - name: Run codespell
      run: pdm run pre-commit run --all-files codespell

    - name: Run pyupgrade
      run: pdm run pre-commit run --all-files pyupgrade

    - name: Run pdm-export
      run: pdm run pre-commit run --all-files pdm-export

    - name: Run pdm-lock-check
      run: pdm run pre-commit run --all-files pdm-lock-check

    - name: Run mypy
      run: pdm run pre-commit run --all-files mypy
